<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="laser_scanner" params="name mass">  
        <xacro:property name="laser_r" value="0.05"/>
        <xacro:property name="laser_h" value="0.07"/>
        <link name="laser_scanner">

            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.05"/>
                <geometry>
                    <mesh filename="package://barista_robot_description/meshes/hokuyo_urg_04lx.dae"/>
                </geometry>
            </visual>

            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.05"/>
                <geometry>
                    <cylinder length="0.040" radius="0.03"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="${mass}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia  ixx="${mass*(3*laser_r*laser_r+laser_h*laser_h)/12}" ixy = "0" ixz = "0"
                iyy="${mass*(3*laser_r*laser_r+laser_h*laser_h)/12}" iyz = "0"
                izz="${mass*(laser_r*laser_r)/2}" />
            </inertial>

        </link>

        <!--laser plugin-->
        <gazebo reference="laser_scanner">
            <sensor name="sensor_ray" type="ray">
                <pose>0 0 0 0 0 0</pose>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>200</samples>
                            <resolution>1.0</resolution>
                            <min_angle>-3.14</min_angle>
                            <max_angle>3.14</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.1</min>
                        <max>5.0</max>
                    </range>
                </ray>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>100.0</update_rate>
                <plugin name="laser_scanner_node" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <namespace>/${robot_name}</namespace>
                        <remapping>~/out:=scan</remapping>
                    </ros>
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>laser_scanner</frame_name>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>  
</robot>  